.login_bg {
  width: 100%;
  height: 100vh;
  background: url("../assets/logo_bg.png")  no-repeat center 100%;
  position: relative;
  background-size: 100% 100%;
}

.login_box {
  width: 310px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_name,
.login_pwd{
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cecece;
}

.login_name /deep/ .el-input__inner,
.login_pwd /deep/ .el-input__inner{
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  color: #fff;
}

.login_box /deep/ .el-form-item.is-error .el-input__inner,
.login_box /deep/ .el-form-item.is-error .el-input__inner:focus,
.login_box /deep/ .el-form-item.is-error .el-textarea__inner,
.login_box /deep/ .el-form-item.is-error .el-textarea__inner:focus{
  border-color: transparent;
}

.login_name > .el-input,
.login_pwd > .el-input{
  // background: transparent;
  border: 0;
  outline: none;
  color: #fff;
  float: left;
  width: 294px;
  height: 100%;
  font-size: 16px;
  padding-left: 10px;
}

.login_name > .el-input::placeholder,
.login_pwd > .el-input::placeholder{
  color: #cecece;
}

.login_img {
  margin-bottom: 12px;
}

.login_check /deep/ .el-checkbox__inner{
  background-color: transparent;
}

.login_check /deep/ .el-checkbox__label{
  color: #cecece;
}

.repwd_btn {
  color: #007dff;
  text-decoration: none;
}

.login_btn_box .login_btn {
  background: #007dff;
  width: 100%;
  font-size: 24px;
  line-height: 25px;
  border-radius: 25px;
}

.ad_text{
  color: #cecece;
  margin-top: 12px;
}
