.register_bg{
  background: url("../assets/register_bg.png") no-repeat center 100%;
  background-size: 100% 100%;
}

.reTitle{
  margin-bottom: 18px;
  height: 40px;
}

.reTitle > span{
  font-size: 24px;
  padding: 10px 0;
  border-bottom: 2px solid #cecece;
}

.login_name > .el-input,
.login_pwd > .el-input{
  width: 204px;
}

.reCode > .el-input{
  width: 100px;
}

.reCode > .el-button{
  padding: 8px 12px;
  background: transparent;
  color: #fff;
  margin: 2px 2px 0 0;
}
